<nav>

	<div id="nav-left">

		<ul>
			<li>
				<a href="{{path('homepage')}}">Accueil</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>

	</div>
	<div id="nav-right">

		<ul>
			{% if app.user == false  %}
				<li>
					<a href="{{ path('app_register') }}">S'inscrire
					</a>
				</li>
				<li>
					<a href="{{path('app_login')}}">Se connecter
					</a>
				</li>
			{% endif %}
			{% if app.user %}

				<li>
					<a href="#">Se deconnecter
					</a>
				</li>
				<li>
					<a href="#">Mon Compte
					</a>
				</li>
			{% endif %}
		</ul>

	</div>


</nav>
